
    <footer class="site-footer">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">

                <div class="cell medium-4">
                    <div class="social-links">
                        <a class="social-tw" href="https://twitter.com/andrewbloch" target="_blank"></a>
                        <a class="social-ln" href="https://www.linkedin.com/in/andrewbloch/" target="_blank"></a>
                        <a class="social-in" href="https://www.instagram.com/blochstagram" target="_blank"></a>
                        <a class="social-ch" href="https://www.joinclubhouse.com/@blochhouse" target="_blank"></a>
                    </div>
                </div>

                <div class="cell medium-8">
                    <div class="footer-contact">
                        <a href="mailto:ab@andrewbloch.co.uk" class="email">ab@andrewbloch.co.uk</a>
                        <a href="tel:+44 (0) 7711 469 392" class="tel">+44 (0) 7711 469 392</a>
                    </div>
                </div>

            </div>

            <div class="grid-x grid-margin-x">
                <div class="cell medium-6">
                    <div class="footer-content">
                        ©&nbsp; 2022 Andrew Bloch
                    </div>
                </div>
                <div class="cell medium-6">
                    <div class="footer-content right">
                        website by <a href="https://www.mwb-agency.com/" target="_blank">mwb-agency.com</a>
                    </div>
                </div>
            </div>


        </div>
    </footer>